html,
body {
    padding: 0;
    margin: 7px;
    width: 275px;
    transition: height ease-in-out .2s;
}

object {
    float: left;
    margin-right: 5px;
}

a {
    text-decoration: none;
    color: black;
}

a:hover {
    color: #559a0b;
}

ul {
    list-style: none;
    margin: 0 10px 0 0;
}

#status_icon {
    margin-right: 15px;
}

#database_icon {
    margin-top: -2px;
}

.popup-container {
    font: lighter 10px 'Monoid', monospace;
    padding-top: 5px;
}

.popup-container h1 {
    font-size: 14px;
    margin: 0;
    display: inline-block;
}

.popup-info {
    display: inline-block;
    margin-top: -5px;
}

.popup-quickmenu {
    float: right;
    margin: 20px 10px 0 0;
}

.popup-quickmenu li {
    display: inline;
}

.popup-quickmenu li a {
    float: right;
}

.popup-log {
    padding-left: 40px;
    margin: 15px 5px 0 10px;
    color: rgb(240, 70, 0);
}

a[class^='button-'] {
    display: block;
    width: 20px;
    height: 20px;
}

a.button-info {
    position: absolute;
    top: 13px;
    right: 10px;
    background: transparent url(../assets/info.svg) no-repeat;
}

a.button-info:hover {
    background: transparent url(../assets/info_hover.svg) no-repeat;
}

a.button-download {
    margin-top: 8px;
    padding: 2px 0 0 20px;
    width: 100%;
    background: transparent url(../assets/database.svg) no-repeat;
}

a.button-download:hover {
    background: transparent url(../assets/download_hover.svg) no-repeat;
}

a.button-microphone {
    background: transparent url(../assets/microphone.svg) no-repeat;
}

a.button-microphone:hover {
    background: transparent url(../assets/microphone_hover.svg) no-repeat;
}

a.button-placeholder {
    background: transparent url(../assets/placeholder.svg) no-repeat;
}

a.button-placeholder:hover {
    background: transparent url(../assets/placeholder_hover.svg) no-repeat;
}

.log-warn {
    background: transparent url(../assets/warning.svg) no-repeat;
}

.log-progress {
    padding-top: 10px;
    background: transparent url(../assets/cloud.svg) no-repeat;
}

.hidden {
    display: none;
}